<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stresta.Properties.Settings.kvpt_blancgastrodesktopConnectionString"
            connectionString="server=128.65.192.91;user id=kvpt_jahiu;password=BlancGastro@123;database=kvpt_blancgastrodesktop;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Stresta.Properties.Settings.kvpt_osterdbmConnectionString"
            connectionString="server=kvpt.myd.infomaniak.com;user id=kvpt_osterdbr;password=Oster@123.;database=kvpt_osterdbm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
